/* `padding` utility
   ==========================================================================
   http://fac.github.io/origin/utilities/padding/
*/

/* Function to convert rem to px */
@function px($rems, $context: $base-unit) {
  @return #{$rems * $context};
}

/**
 * This mixin allows us to use shorthand values for the `padding` property.
 *
 * The mixin runs through our spacing values, given the first argument, then
 * creates another list of the mappings of those spacing values, which it then
 * feeds to the `padding` property.
 */

@mixin padding($values, $important: null) {
  $pxValueList: ();
  $remValueList: ();

  @for $i from 1 through length($values) {
    $pxValue: px(map-get($spacing-values, nth($values, $i))) + px;
    $pxValueList: append($pxValueList, $pxValue, space);
    $remValue: map-get($spacing-values, nth($values, $i)) + rem;
    $remValueList: append($remValueList, $remValue, space);
  }

  padding: $pxValueList $important;
  padding: $remValueList $important;
}

@mixin padding-bottom($value, $important: null) {
  padding-bottom: px(map-get($spacing-values, $value)) + px $important;
  padding-bottom: map-get($spacing-values, $value) + rem $important;
}

@mixin padding-left($value, $important: null) {
  padding-left: px(map-get($spacing-values, $value)) + px $important;
  padding-left: map-get($spacing-values, $value) + rem $important;
}

@mixin padding-right($value, $important: null) {
  padding-right: px(map-get($spacing-values, $value)) + px $important;
  padding-right: map-get($spacing-values, $value) + rem $important;
}

@mixin padding-top($value, $important: null) {
  padding-top: px(map-get($spacing-values, $value)) + px $important;
  padding-top: map-get($spacing-values, $value) + rem $important;
}


/* Utility classes
   ========================================================================== */

@if $u-classes-padding == true {

  /**
   * Generate default spacing classes
   */

  .u-padding {
    padding: px($spacing--default) + px !important;
    padding: $spacing--default + rem !important;
  }

  .u-padding-bottom {
    padding-bottom: px($spacing--default) + px !important;
    padding-bottom: $spacing--default + rem !important;
  }

  .u-padding-left {
    padding-left: px($spacing--default) + px !important;
    padding-left: $spacing--default + rem !important;
  }

  .u-padding-right {
    padding-right: px($spacing--default) + px !important;
    padding-right: $spacing--default + rem !important;
  }

  .u-padding-top {
    padding-top: px($spacing--default) + px !important;
    padding-top: $spacing--default + rem !important;
  }

  @each $breakpoint-size, $breakpoint-value in $breakpoint-values {

     /**
      * Generate scale spacing classes with breakpoints
      *
      * Note that classes will not be generated for the full scale of spacing
      * values, only the standard `xx-small` > `xx-large` scale, because in
      * practice the full scale has never been needed.
      *
      * These don't have IE8 fallbacks because IE8 ignores media
      * queries anyway.
      */

    @include break($breakpoint-size) {
      .u-#{$breakpoint-size}-padding {
        padding: $spacing--default !important;
      }
    }

    @include break($breakpoint-size) {
      .u-#{$breakpoint-size}-padding-bottom {
        padding-bottom: $spacing--default !important;
      }
    }

    @include break($breakpoint-size) {
      .u-#{$breakpoint-size}-padding-left {
        padding-left: $spacing--default !important;
      }
    }

    @include break($breakpoint-size) {
      .u-#{$breakpoint-size}-padding-right {
        padding-right: $spacing--default !important;
      }
    }

    @include break($breakpoint-size) {
      .u-#{$breakpoint-size}-padding-top {
        padding-top: $spacing--default !important;
      }
    }

  }

  @each $spacing-size, $standard-scale-spacing-value in $standard-scale-spacing-values {

    /**
     * Generate standard scale of spacing classes without breakpoints
     *
     * Note that classes will not be generated for the full scale of spacing
     * values, only the standard `xx-small` > `xx-large` scale, because in
     * practice the full scale has never been needed.
     */

    .u-padding--#{$spacing-size} {
      padding: px($standard-scale-spacing-value) + px !important;
      padding: $standard-scale-spacing-value + rem !important;
    }

    .u-padding-bottom--#{$spacing-size} {
      padding-bottom: px($standard-scale-spacing-value) + px !important;
      padding-bottom: $standard-scale-spacing-value + rem !important;
    }

    .u-padding-left--#{$spacing-size} {
      padding-left: px($standard-scale-spacing-value) + px !important;
      padding-left: $standard-scale-spacing-value + rem !important;
    }

    .u-padding-right--#{$spacing-size} {
      padding-right: px($standard-scale-spacing-value) + px !important;
      padding-right: $standard-scale-spacing-value + rem !important;
    }

    .u-padding-top--#{$spacing-size} {
      padding-top: px($standard-scale-spacing-value) + px !important;
      padding-top: $standard-scale-spacing-value + rem !important;
    }

    @each $breakpoint-size, $breakpoint-value in $breakpoint-values {

      /**
       * Generate standard scale of spacing classes with breakpoints
       *
       * These don't have IE8 fallbacks because IE8 ignores media
       * queries anyway.
       */

      @include break($breakpoint-size) {
        .u-#{$breakpoint-size}-padding--#{$spacing-size} {
          padding: $standard-scale-spacing-value !important;
        }
      }

      @include break($breakpoint-size) {
        .u-#{$breakpoint-size}-padding-bottom--#{$spacing-size} {
          padding-bottom: $standard-scale-spacing-value !important;
        }
      }

      @include break($breakpoint-size) {
        .u-#{$breakpoint-size}-padding-left--#{$spacing-size} {
          padding-left: $standard-scale-spacing-value !important;
        }
      }

      @include break($breakpoint-size) {
        .u-#{$breakpoint-size}-padding-right--#{$spacing-size} {
          padding-right: $standard-scale-spacing-value !important;
        }
      }

      @include break($breakpoint-size) {
        .u-#{$breakpoint-size}-padding-top--#{$spacing-size} {
          padding-top: $standard-scale-spacing-value !important;
        }
      }

    }

  }

}
